.employeeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.employee {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    width: 20rem;
    border: 1px solid plum;
}
